
{% load auth_extras %}
<!DOCTYPE html>
<html>
<head>
	<title>this is a home page</title>
</head>
<body>

<!-- for user authentication -->
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}


<!-- for group identification -->

{% if request.user|has_group:"agents" %}
    <a href="{% url 'agent' %}">This is the link for agent.</a>  
{% else %}
   
{% endif %}














{% for Ticket in Tickets %}
k
{{ Ticket }}
 <!-- <td><center>{{ Ticket.Subject }}</td> 
 <td><center>{{ Ticket.Agent }}</td> 
 <td><center>{{ Ticket.summary }}</td> 
 <td><center>{{ Ticket.bill_number }}</td> 
 <td><center>{{ Ticket.ticket_severity }} </td> -->
 <tr>

{% endfor %}













</body>
</html>



   