{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

<!-- {% block extrastyle %}{{ block.super }} -->
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<!-- {{ form.media }} -->
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="form-row">
                {{ form|crispy }}
            </div>
            </fieldset>
            <div class="submit-row">
                <button class="btn btn-outline-info" type="submit">Login</button>
                
            </div>
        </form>

{% endblock %}





























